.homepageContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newsSection {
    order: 2;
    max-width: 800px;
    margin: 0;
}

.newsArticle {
    margin-bottom: 1rem;
    border-bottom: 1px rgba(0, 0, 0, 0.25) solid;
    padding: 1rem 0;
}

.newsArticle:last-child {
    border-bottom: 0;
}

.contentSection img {
    max-width: 100%;
    height: auto;
}

.newsHeading {
    font-size: clamp(1rem, 0.55vw + 0.55rem, 1.2rem);
    color: FireBrick;
    font-weight: bolder;
    margin: 0 0 0.25rem 0;
}

.newsDate {
    font-size: clamp(0.8rem, 0.55vw + 0.5rem, 1rem);
    color: rgba(0, 0, 0, 0.6);
}

.asideSection {
    order: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin: 0 0 2rem 0;
}

.picSection {
    text-align: right;
    display: none;
}

.sidebarPic {
    margin: 3rem 0;
    width: 300px;
    max-width: 100%;
}

@media (min-width: 1024px) {
    .homepageContainer {
        flex-direction: row;
    }

    .picSection {
        display: block;
    }

    .newsSection {
        order: 1;
        margin-right: 1rem;
    }

    .asideSection {
        order: 2;
        flex-direction: column;
        justify-content: flex-end;
        align-self: flex-start;
        margin: 5rem 0 0 0;
    }

    .aboutSection {
        margin: 0 0 auto 0;
        flex: none;
    }
}
