input.inputSearchbar {
    display: block;
    width: 100%;
    max-width: 200px;
    text-align: left;
    border: 1px #999999 solid;
    border-radius: .25rem;
    padding: 0.25rem 0.25rem 0.25rem 2rem;
    margin-right: 0.25rem;
    color: #333333;
    background-color: #ffffff;
    /* background-image: url('../lib/assets/images/magnifying_glass.png'); */
    background-image: url('/images/non-news/magnifying_glass.png');
    background-repeat: no-repeat;
    background-position: 6px, 6px;
    line-height: 1;
}

input.inputSearchbar:placeholder-shown {
    text-overflow: ellipsis;
}

input.inputSearchbar:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 123, 0.25);
}