label.searchLabel {
    margin: 0;
}

.searchText {
    display: none;
}

input.inputSearchbar {
    display: block;
    width: 100%;
    max-width: 200px;
    text-align: left;
    border: 1px #999999 solid;
    border-radius: .25rem;
    padding: 0.25rem 0.25rem 0.25rem 2rem;
    color: #333333;
    background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)),
        url('/images/header/magnifying_glass.png') no-repeat 6px 6px, rgba(255, 255, 255, 1);
    line-height: 1;
}

input.inputSearchbar:placeholder-shown {
    text-overflow: ellipsis;
}

input.inputSearchbar:focus {
    outline: 0;
    box-shadow: 0 0 4px 2px rgba(183, 121, 63, 0.75);
}

@media (min-width: 768px) {
    .searchText {
        display: inline;
        color: transparent;
    }
}