article.storesArticle {
    min-width: 50%;
    max-width: 100ch;
    margin: 0 auto 1rem auto;
}

section.store {
    padding: 1rem;
    margin-bottom: 2rem;
    border: 1px rgba(0, 0, 0, 0.25) solid;
}

h3.storeName {
    font-size: clamp(1.1rem, 0.7vw + 0.7rem, 1.5rem);
}