.storeHeading {
    text-align: center;
}

.weekHeading {
    text-align: center;
    color: darkgreen;
    font-size: clamp(1.1rem, 0.7vw + 0.7rem, 1.5rem);
}

.weekHeadingResults {
    margin: 1rem 0;
}

.matchHeading {
    text-align: center;
    color: firebrick;
    font-size: clamp(1rem, 0.55vw + 0.55rem, 1.2rem);
}

.resultsWeek {
    margin-bottom: 2rem;
    border-bottom: 1px rgba(0, 0, 0, 0.25) solid;
}

.resultsWeek:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}

.headingRow {
    background-color: rgba(0, 0, 0, 0.15);
}

.resultsHeadingRow {
    background-color: rgba(0, 0, 0, 0.15);
    font-weight: bolder;
}

.tableWrapper {
    margin: 0 auto 1rem auto;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.table {
    min-width: 50%;
    margin: 0 auto 1rem auto;
    color: #212529;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #6c757d;
    text-align: center;
}

th.textLeft {
    text-align: left;
}

td.textLeft {
    text-align: left;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #6c757d;
}

.table tbody + tbody {
    border-top: 1px solid #6c757d;
}

.tableBordered {
    border: 1px solid #6c757d;
}

.tableBordered th,
.tableBordered td {
    border: 1px solid #6c757d;
}

.tableBordered thead th,
.tableBordered thead td {
    border-bottom-width: 1px;
}

.tableHover tbody tr:not(.resultsHeadingRow):hover {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.075);
}