.teamText {
    color: firebrick;
}

.teamName {
    font-size: clamp(1.1rem, 0.7vw + 0.7rem, 1.5rem);
    font-weight: bolder;
}

.infoSection {
    margin-bottom: 2rem;
}

.infoSection p {
    margin-bottom: 0.5rem;
}

.statsHeading {
    font-size: clamp(1.1rem, 0.7vw + 0.7rem, 1.5rem);
    color: #30608c;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 1rem;
}

.statsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statsGroup {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 0.50rem 2rem 0.50rem;
    width: 100%;
    max-width: 400px;
}

@media (min-width: 768px) {
    .statsSection {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
}
